.fundamental_body {
    padding: 1.25rem;
  }
  
  .fundamental_header {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 2vw;
    font-weight: bold;
    font-weight: 900;
  }
  
  .fundamental_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(24%), 1fr));
    gap: 1.25rem;
  }
  
  .card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
    padding: 1.25rem;
    height: 16rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    background-color: #E9ECEF;
    overflow: hidden;

  }
  
  .card:hover{
    background-color:#577492;
    color: #E9ECEF;
  }